<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="br.com.filomenoadvogados.cenourapp"
        version="1.0.0">

    <name>
        Só de Cenoura
    </name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href="http://www.filomenoadvogados.com.br" email="qualquer@filomenoadvogados.com.br">
        Rodrigo Filomeno
    </author>
    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none" />
    <platform name="android" />
    <icon src="img/icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
<splash src="img/splash.png" />
</widget>